<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>La Casa</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		body {
			background-color: #f8f9fa;
			padding: 20px;
		}

		h1 {
			text-align: center;
			margin-bottom: 30px;
		}

		.book-now-button {
			background-color: #007bff;
			border: none;
			color: white;
			padding: 10px 20px;
			border-radius: 5px;
			font-size: 18px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		.book-now-button:hover {
			background-color: #0069d9;
		}
	</style>
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/LaCasa.com/home">La Casa</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link text-light" href="/LaCasa.com/about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/LaCasa.com/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/LaCasa.com/search">Book Now</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/LaCasa.com/manage">Manage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/LaCasa.com/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Main content -->
	<div class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p>At La Casa, we strive to make our guests feel like they're at home. Our warm and welcoming
						staff is here to make your stay as comfortable and enjoyable as possible.</p>
					<div class="mt-5">
						<a class="book-now-button" href="/LaCasa.com/search"  style="margin-bottom: 20px;">Book Now</a>
					</div>
				</div>
				<div class="col-md-8">
					<img src="https://la-casa-bucket.s3.ap-south-1.amazonaws.com/holiday-complex-gc93953383_640.jpg"
						alt="La Casa Hotel" class="img-fluid" style="margin-top: 20px;">
				</div>
			</div>
		</div>
	</div>

</body>

</html>